@charset "utf-8";

/* CSS Reset */

/* 공통적으로 초기화 할 부분 */
html, head, body, title, h1, h2, h3, h4, h5, h6, p, ul, ol, li,
table, tr, td, thead, tbody, tfoot, th, div, span, a, img, br, hr,
pre, strong, form, label, legend, input, select, textarea, fieldset,
figure, figcaption, aside, address, article, audio, video, picture, option, iframe{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 링크 초기화 */
a{
    text-decoration: none;
    color: inherit;
}

/* 이미지 초기화 */
img{
    width: 100%;
    vertical-align: top;
}

/* 목록 초기화 */
ol, ul, li{
    list-style: none;
}

h1, h2, h3, h4, h5, h6, strong{
    font-weight: 400;
    font-size: inherit;
}

img, span, video, audio, label, input, textarea, select, iframe{
    display:block;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}